# Programa de Pós-graduação em Recursos Hídricos e Sanemento - PPGRHS
## Hidrologia

**Água na atmosfera**

Clebson Farias

### **Questão 2**: Calcule os índices $\Phi$ e W para as cheias do problema 1 e estime distribuição da precipitação efetiva.

In [1]:
import pandas as pd

In [26]:
p1 = pd.Series(data = [0.3, 0.3, 0.3, 0.5, 2.1, 5.3, 25.7, 10.1, 2.6, 1.6, 0.8, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0,3], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21], 
               name = 'P1')
q1 = pd.Series(data = [9, 9, 9, 9, 9, 9, 80, 150, 184, 200, 204, 200, 192, 176, 150, 100, 74, 60, 46, 36, 30], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21], 
               name = 'Q1')

p2 = pd.Series(data = [4, 6.1, 15.3, 7.3, 2.8, 2.0, 1, 1, 0.4, 0.4], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
               name = 'P2')
q2 = pd.Series(data = [11, 60, 140, 178, 182, 180, 164, 142, 116, 90, 68, 52, 40, 32, 26, 22, 20], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], 
               name = 'Q2')

p3 = pd.Series(data = [0.4, 0.8, 1.6, 2.6, 4.6, 6.2, 3.3, 1.5, 0.7], 
               index = [2, 3, 4, 5, 6, 7, 8, 9, 10], 
               name = 'P3')
q3 = pd.Series(data = [8.5, 8.5, 8.5, 8.5, 8.5, 11, 18, 40, 76, 64, 44, 33, 25, 21, 17, 15, 12], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], 
               name = 'Q3')

p4 = pd.Series(data = [8.5, 11.1, 5.5, 2.8, 1.9, 1.3, 0.3],
               index = [1, 2, 3, 4, 5, 6, 7], 
               name = 'P4')
q4 = pd.Series(data = [7, 7, 16, 33, 50, 105, 96, 68, 47.5, 31.5, 23, 17.5, 15, 13], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], 
               name = 'Q4')

p5 = pd.Series(data = [0.3, 0.4, 2.5, 7.3, 3.4, 1.5, 0.5, 0.3, 0.2], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9], 
               name ='P5')
q5 = pd.Series(data = [6.5, 6.5, 16, 37.5, 51.5, 55, 51.5, 44, 35, 26, 20, 17, 14, 12, 11.8], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], 
               name = 'Q5')

eventos1 = pd.DataFrame([p1, q1, p2, q2, p3, q3, p4, q4, p5, q5]).T
eventos1

      P1     Q1    P2     Q2   P3    Q3    P4     Q4   P5    Q5
1    0.3    9.0   4.0   11.0  NaN   8.5   8.5    7.0  0.3   6.5
2    0.3    9.0   6.1   60.0  0.4   8.5  11.1    7.0  0.4   6.5
3    0.3    9.0  15.3  140.0  0.8   8.5   5.5   16.0  2.5  16.0
4    0.5    9.0   7.3  178.0  1.6   8.5   2.8   33.0  7.3  37.5
5    2.1    9.0   2.8  182.0  2.6   8.5   1.9   50.0  3.4  51.5
6    5.3    9.0   2.0  180.0  4.6  11.0   1.3  105.0  1.5  55.0
7   25.7   80.0   1.0  164.0  6.2  18.0   0.3   96.0  0.5  51.5
8   10.1  150.0   1.0  142.0  3.3  40.0   NaN   68.0  0.3  44.0
9    2.6  184.0   0.4  116.0  1.5  76.0   NaN   47.5  0.2  35.0
10   1.6  200.0   0.4   90.0  0.7  64.0   NaN   31.5  NaN  26.0
11   0.8  204.0   NaN   68.0  NaN  44.0   NaN   23.0  NaN  20.0
12   0.3  200.0   NaN   52.0  NaN  33.0   NaN   17.5  NaN  17.0
13   0.3  192.0   NaN   40.0  NaN  25.0   NaN   15.0  NaN  14.0
14   0.3  176.0   NaN   32.0  NaN  21.0   NaN   13.0  NaN  12.0
15   0.3  150.0   NaN   26.0  NaN  17.0   NaN    NaN  NaN  11.8
16   0.3  100.0   NaN   22.0  NaN  15.0   NaN    NaN  NaN   NaN
17   0.3   74.0   NaN   20.0  NaN  12.0   NaN    NaN  NaN   NaN
18   0.3   60.0   NaN    NaN  NaN   NaN   NaN    NaN  NaN   NaN
19   0.3   46.0   NaN    NaN  NaN   NaN   NaN    NaN  NaN   NaN
20   0.0   36.0   NaN    NaN  NaN   NaN   NaN    NaN  NaN   NaN
21   3.0   30.0   NaN    NaN  NaN   NaN   NaN    NaN  NaN   NaN

### **Questão 3**: Para os dados do problema 1, determine a precipitação efetiva com base no método SCS. Qual o valor que recomendaria para CN nesta bacia?

### **Questão 4**: Determine o HU para cada evento do problema 1 e o HU médio da bacia.

### **Questão 9**: Uma bacia rural foi urbanizada, resultando em 30\% de áreas impermeáveis. Para a precipitação da tabela 11.17 determine o impacto no hidrograma final.

In [22]:
p9 = pd.Series(data = [24, 66, 14], 
               index = [1, 2, 3], 
               name = 'P')
q9 = pd.Series(data = [8, 6, 6, 93, 162.7, 180, 91, 50, 29, 16, 8], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 
               name = 'Q')

eventos9 = pd.DataFrame([p9, q9]).T
eventos9

      P1     Q1
1   24.0    8.0
2   66.0    6.0
3   14.0    6.0
4    NaN   93.0
5    NaN  162.7
6    NaN  180.0
7    NaN   91.0
8    NaN   50.0
9    NaN   29.0
10   NaN   16.0
11   NaN    8.0

### **Exemplo 11.2**: Para os dados da tabela 11.1, determine a precipitação efetiva correspondente ao escoamento superficial obtido.

In [25]:
p11 = pd.Series(data = [0.9, 0.9, 1.6, 1.9, 2.2, 2.2, 3.8, 6, 5.7, 2.5, 1.9, 1.3, 1.6],
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], 
               name = 'P')

q11 = pd.Series(data = [10, 10, 10, 10, 22, 40, 68, 108, 136, 138, 124, 100, 78, 58, 44, 34, 26, 22, 18, 16, 15], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21], 
               name = 'Q')

e11 = pd.Series(data = [0, 0, 0, 0, 11.1, 28.3, 55.4, 94.6, 121.7, 122.9, 108, 83.1, 60.3, 39.4, 24.6, 13.7, 4.9, 0, 0, 0, 0], 
               index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21], 
               name = 'E')

evento11 = pd.DataFrame([p11, q11, e11]).T
evento11

      P      Q      E
1   0.9   10.0    0.0
2   0.9   10.0    0.0
3   1.6   10.0    0.0
4   1.9   10.0    0.0
5   2.2   22.0   11.1
6   2.2   40.0   28.3
7   3.8   68.0   55.4
8   6.0  108.0   94.6
9   5.7  136.0  121.7
10  2.5  138.0  122.9
11  1.9  124.0  108.0
12  1.3  100.0   83.1
13  1.6   78.0   60.3
14  NaN   58.0   39.4
15  NaN   44.0   24.6
16  NaN   34.0   13.7
17  NaN   26.0    4.9
18  NaN   22.0    0.0
19  NaN   18.0    0.0
20  NaN   16.0    0.0
21  NaN   15.0    0.0

### **Exemplo 11.12**: Uma bacia rural com 7 km² com cobertura de pasto (CN=61), tem comprimento de 2,5 km e declividade de 8\%. Essa bacia deve ser alterada para uma bacia urbana com 30\% de áreas impermeáveis, alterando 75\% do seu rio. Estime as características do HU para as condições atuais e futuras. Adote CN = 83 para condições urbanas.